<% include ./partials/header %>

<h1>Create Account</h1>

<form action="/register" method='post'>
  <input type="text" name='username' placeholder='Username'>
  <input type="password" name='password' placeholder='Password'>
  <button>Create Account</button>
</form>

<% include ./partials/footer %>